<div class="container bg-light py-5">
    <h1>Welcome to z quizz </h1>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Pseudo</mat-label>
            <input type="email" matInput maxlength="20" [formControl]="emailFormControl" >
            <mat-hint align="start"><strong>sans caractère spéciaux</strong> </mat-hint>
            <mat-hint align="end">{{emailFormControl.value.length}} / 25</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Un nom de compte est <strong>requis</strong>
            </mat-error>
          </mat-form-field>
    </form>
    <p class="col-md8 fs-4"> this quizz will talk about</p>
    <button (click)="start()" class="btn btn-primary btn-lg" > Participer au test  </button>
</div>
