.card {
    width: 30%;
    height: 100%;
    float: left;
}

ol {
    margin-top: 2em;
    margin-left: 1em;
    list-style-type: none;
}

.user {
    padding: 1em;
    border-radius: 5em;
    border: 1px solid black;
    width: 70%;
    margin: 0;
    margin-top: 0.5em;
}